/* src/components/ExperienceSection.css */
.experience-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 40px; /* Increased padding for more height */
  background-color: #ececec;
  border-radius: 8px;
}

.experience-content {
  flex: 1;
  text-align: left;
  padding-left: 20px;
}

.experience-image img {
  width: 200px;
  height: 150px;
  border-radius: 8px;
  object-fit: cover;
}
