.projects-section {
    padding: 20px;
    background-color: #eaeaea;
  }
  
  .projects-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .projects-card h2 {
    font-size: 1.5rem;
    margin: 0 0 10px;
  }
  
  .projects-card p {
    margin: 0 0 10px;
    font-size: 1rem;
    color: #666;
  }
  
  .projects-card ul {
    list-style-type: none;
    padding: 0;
  }
  
  .projects-card li {
    margin: 5px 0;
  }
  
  .projects-card a {
    color: #0073e6;
    text-decoration: none;
  }
  
  .projects-card a:hover {
    text-decoration: underline;
  }
  